body {
  text-align: center;
  background-color: #282a3a;
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: #000000;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.usersList {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 50px;
  height: 160px;
  max-width: 100%;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 15px;
}

/* buttons */

.btn {
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  border: none;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn:hover {
  transform: scale(1.05);
}

.btn.deleteBtn {
  background-color: #dc3545;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn.addUserBtn {
  background-color: green;
  font-size: 16px;
  margin-right: 10px;
}

.btn.btnBack {
  margin-left: 10px;
}

.btn.addBookBtn {
  background-color: green;
  font-size: 16px;
}

.btn.sortBookBtn {
  background-color: transparent;
  text-decoration: underline;
  font-size: 16px;
}

/* -user- tiles */

.tile {
  display: inline-block;
  height: 120px;
  width: 120px;
  cursor: pointer;
  border-radius: 10px;
  margin: 0;
}

.tile p {
  margin-top: 50px;
  color: #fff;
  font-weight: 600;
}

.tile.newUserBtn {
  background-color: #282a3a;
  border: 0;
}

.tile.newUserBtn p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}

.tile:hover {
  transform: scale(1.05);
}

.inputHidden {
  display: none;
}

input[type="text"] {
  text-align: left;
  height: 40px;
  top: 10px;
  border: 1px solid #c69749;
  background: transparent;
  border-radius: 5px;
  font-size: 16px;
  width: 50%;
  max-width: 275px;
  color: #c69749;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #c69749;
}

.userHr {
  border: 1px solid #c69749;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.bookHr {
  border: 1px solid #c69749;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 25%;
  margin-right: 25%;
}

.spacer {
  margin-bottom: 20px;
}

.optionsBox {
  width: 540px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  height: 295px;
  width: 180px;
  border-radius: 10px;
}

h1,
h2,
p {
  color: #c69749;
}

h2.header {
  margin-top: 0;
  margin-bottom: 30px;
}

.frame {
  border: 3px solid green;
}

.error {
  color: red;
}

.newBookBox {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.booksList {
  width: 300px;
  margin: auto;
}

.bookData {
  width: 100%;
  margin-bottom: 10px;
}

.empty {
  background-color: darkgray;
}

/* -user- color input tiles */

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label span {
  transform: scale(1.25);
}
input[type="radio"]:checked + label .red {
  border: 2px solid #711313;
}
input[type="radio"]:checked + label .orange {
  border: 2px solid #873a08;
}
input[type="radio"]:checked + label .yellow {
  border: 2px solid #816102;
}
input[type="radio"]:checked + label .olive {
  border: 2px solid #505a0b;
}
input[type="radio"]:checked + label .green {
  border: 2px solid #0e4e1d;
}
input[type="radio"]:checked + label .teal {
  border: 2px solid #003633;
}
input[type="radio"]:checked + label .blue {
  border: 2px solid #103f62;
}
input[type="radio"]:checked + label .violet {
  border: 2px solid #321a64;
}
input[type="radio"]:checked + label .purple {
  border: 2px solid #501962;
}
input[type="radio"]:checked + label .pink {
  border: 2px solid #851554;
}
label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
label:hover span {
  transform: scale(1.25);
}
label span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
label span.red {
  background: #db2828;
}
label span.orange {
  background: #f2711c;
}
label span.yellow {
  background: #fbbd08;
}
label span.olive {
  background: #b5cc18;
}
label span.green {
  background: #21ba45;
}
label span.teal {
  background: #00b5ad;
}
label span.blue {
  background: #2185d0;
}
label span.violet {
  background: #6435c9;
}
label span.purple {
  background: #a333c8;
}
label span.pink {
  background: #e03997;
}
